* {
  margin: 0px;
  padding: 0px;
}
body {
  background-color: rgb(11, 183, 236);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h1 {
  color: rgb(255, 175, 2);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
}
p {
  color: rgb(0, 0, 0);
}
h2 {
  color: rgb(217, 0, 170);
  text-align: center;
}
h3 {
  color: rgb(130, 0, 217);
  text-align: center;
}
h4 {
  color: rgb(240, 240, 240);
  text-align: center;
}
.txt1 {
  color: rgb(142, 13, 13);
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: large;
  font-weight: 56px;
}
.txt2 {
  color: rgb(7, 21, 38);
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: large
  font-weight: 70px;
}