* {
  margin: 0px;
  padding: 0px;
}
body {
  background-color: rgb(11, 183, 236);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h1 {
  color: rgb(255, 175, 2);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
}
p {
  color: rgb(0, 0, 0);
}
h2 {
  color: rgb(217, 0, 170);
  text-align: center;
}
h3 {
  color: rgb(130, 0, 217);
  text-align: center;
}
h4 {
  color: rgb(217, 0, 109);
  text-align: center;
}